@tailwind base;
@tailwind components;
@tailwind utilities;


/* scroll bar design */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(179, 177, 177);
    border-radius: 8px;
  }